{% extends 'info/base.html' %}
{% load static %}

{% block head_block %}
    <title>Portfolio of Shah Habibul Imran</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio of Shah Habibul Imran">
    <meta name="author" content="Shah Habibul Imran">
    <link rel="shortcut icon" href="favicon.ico">  
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    
    <!-- FontAwesome JS -->
    <script defer src="{% static 'info/assets/fontawesome/js/all.js' %}"></script>
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'info/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    
    <!-- github calendar css -->
    <link rel="stylesheet" href="{% static 'info/assets/plugins/github-calendar/dist/github-calendar.css' %}">
    <!-- github activity css -->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="{% static 'info/assets/plugins/github-activity/github-activity-0.1.5.min.css' %}">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'info/assets/css/styles.css' %}">
     <!-- github calendar plugin -->
    <script type="text/javascript" src="{% static 'info/assets/plugins/github-calendar/dist/github-calendar.min.js' %}"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="{% static 'info/assets/plugins/github-activity/github-activity-0.1.5.min.js' %}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'info/assets/js/main.js' %}"></script>

{% endblock %}

{% block body_block %}
    <!-- ******HEADER****** --> 
    <header class="header" style="padding-top: 50px; padding-bottom: 20px; background-color: #FFFFFF;">
        <div class="container clearfix" >
            <img class="profile-image img-fluid float-left rounded-circle" height="200px" width="200px" src="{% static 'info/assets/images/profile1.jpg' %}" alt="profile image" />
            <div class="profile-content float-left">
                <h1 class="name">Shah Habibul Imran</h1>
                <h2 class="desc">Student, Apprentice in Web Development</h2>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/Shah.Imran46/"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/imran34416"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/imran4416/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Yankee-16"><i class="fab fa-github-alt"></i></a></li>
                    <li class="list-inline-item"><a href="https://stackoverflow.com/users/11160210/shah-habibul-imran"><i class="fab fa-stack-overflow"></i></a></li>
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary float-right" href="tel:+8801517141687" target="_blank"><i class="fas fa-phone-alt"></i> Call Me</a>
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm a student of Computer Science and Engineering at Daffodil International University. I'm a competitive programmer. I like thinking and solving problems. I'm also an apprentice in Full stack web development, mainly with Django.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                
                                <div class="featured-image has-ribbon">
                                    <a href="{{ top.link }}" target="_blank">
                                        {% if top.image %}
                                    <img class="img-fluid project-image rounded shadow-sm" src="{{ top.image }}" alt="{{ top.title }}" />
                                        {% endif %}
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">Working</div>
                                    </div>
                                </div>
                                
                                <h3 class="title mb-3"><a href="{{ top.link }}" target="_blank">{{ top.title }}</a></h3>
                                    
                                <div class="desc text-left">                                    
                                    <p>{{ top.summary }}</p>
                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="{{ top.link }}" target="_blank"><i class="fas fa-external-link-alt"></i> Watch the project</a>
                            </div><!--//item-->
                            <hr class="divider" />
                            {% if latest %}
                                {% for l in latest %}
                            <div class="item row">
                                <a class="col-md-4 col-12" href="{{ l.link }}" target="_blank">
                                    {% if l.image %}
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ l.image }}" alt="project name" />
                                    {% endif %}
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="{{ l.link }}" target="_blank">{{ l.title }}</a></h3>
                                    <p class="mb-2">{{ l.summary }}</p>
                                    <p><a class="more-link" href="{{ l.link }}" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                                {% endfor %}
                            {% else %}
                            <h5>No more current projects</h5>
                            {% endif %}
                            

                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                
                </section><!--//section-->
                
                <section class="projects section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Other Projects</h2>
                        <div class="content">
                            {% if other %}
                                {% for o in other %}
                            <div class="item">
                                <h3 class="title"><a href="{{ o.link }}" target="_blank">{{ o.title }}</a> </h3>
                                <p class="summary">{{ o.summary }}</p>
                                <p><a class="more-link" href="{{ o.link }}" target="_blank"><i class="fas fa-external-link-alt"></i>Learn more</a></p>
                            </div><!--//item-->
                                {% endfor %}
                            {% else %}
                            <h5>No other projects</h5>
                            {% endif %}

                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            {% if jobs %}
                                {% for j in jobs %}
                            <div class="item">
                                <h3 class="title">{{ j.designation }} - <span class="place"><a href="#">{{ j.institution }}</a></span> <span class="year">({{ j.start }}-{% if j.present %} Present {% else %} {{ j.end }} {% endif %})</span></h3>
                                <p>{{ j.summary }}</p>
                            </div><!--//item-->
                                {% endfor %}
                            {% else %}
                            <h5>No work experience right now</h5>
                            {% endif %}

                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Extra Curricular Experience</h2>
                        <div class="content">
                            {% if extra %}
                                {% for j in extra %}
                            <div class="item">
                                <h3 class="title">{{ j.designation }} - <span class="place"><a href="#">{{ j.institution }}</a></span> <span class="year">({{ j.start }}-{% if j.present %} Present {% else %} {{ j.end }} {% endif %})</span></h3>
                                <p>{{ j.summary }}</p>
                            </div><!--//item-->
                                {% endfor %}
                            {% else %}
                            <h5>No extra curricular experience right now</h5>
                            {% endif %}


                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="github section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">My GitHub</h2>
                        <div id="github-graph" class="github-graph">

                        </div><!--//github-graph-->

                        <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                 <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span> Dhaka, Bangladesh</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:smhimran@gmail.com">smhimran@gmail.com</a></li>
                                <!--<li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="#">https://www.website.com</a></li>-->
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">These are a few skills I have so far.</p>
                            
                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">Problem Solving<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I have solved problems in various online judges and participated in some national level contests"><i class="fas fa-info-circle"></i>Very Good</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">C/C++<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="My primary language for problem solving and contests"><i class="fas fa-info-circle"></i>Very Good</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I have done a few simple projects"><i class="fas fa-info-circle"></i>Good</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="60%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, Bootstrap<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="90%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <p><a class="more-link" href="https://www.linkedin.com/in/imran4416/"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p>
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <!--<aside class="testimonials aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fas fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
                                </blockquote>                
                                <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>                                                             
                            </div>
                            
                            <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p> 
                            
                        </div>
                    </div>
                </aside> -->
                
                <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            {% for e in edu %}
                            <div class="item">                      
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> {{ e.degree }}</h3>
                                <h4 class="university">{{ e.institution }} <span class="year">({{ e.start }}-{% if e.present %} Present {% else %} {{ e.end }} {% endif %})</span></h4>
                            </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>Bangla:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <!--<aside class="blog aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>
                        <div id="rss-feeds" class="content">

                        </div>
                    </div>
                </aside>-->
                
                <aside class="list music aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            {% if music %}
                            <ul class="list-unstyled">
                                {% for m in music %}
                                <li><i class="fas fa-headphones"></i> <a href="{{ m.link }}">{{ m.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <h5>No musics right now</h5>
                            {% endif %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <!--<aside class="list conferences aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="far fa-calendar-alt"></i> <a href="#" target="_blank">WWDC 2020</a> (San Francisco)</li>
                                <li><i class="far fa-calendar-alt"></i> <a href="#">Hive</a> (Seattle)</li>
                            </ul>
                        </div>
                    </div>
                </aside>-->
                

              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
<!--    &lt;!&ndash; ******FOOTER****** &ndash;&gt;-->
<!--    <footer class="footer">-->
<!--        <div class="container text-center">-->
<!--                &lt;!&ndash;/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */&ndash;&gt;-->
<!--                <footer class="footer text-center py-4">-->
<!--					&lt;!&ndash;/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */&ndash;&gt;-->
<!--					<small class="copyright text-muted">Designed with <i class="fas fa-heart"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>-->
<!--				</footer>-->
<!--        </div>&lt;!&ndash;//container&ndash;&gt;-->
<!--    </footer>&lt;!&ndash;//footer&ndash;&gt;-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="{% static 'info/assets/plugins/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info/assets/plugins/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info/assets/plugins/jquery-rss/dist/jquery.rss.min.js' %}"></script>

{% endblock %}

